{% extends "AdticketElvisCoreBundle::layout.html.twig" %}{% block title "Elvis-Berechtigungssystem Demo" %}

{% block content %}

    {% include "AdticketElvisPermissionDemoBundle:Default:nav.html.twig" %}

    <p>Um diese Seite anzuzeigen, muss der aktuelle Nutzer über das Recht <code>ELVISMODULE_PERMISSIONDEMO_OPERATOR</code> verfügen.</p>

{% endblock %}
